/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2016, 16:50:19
    Author     : admin
*/
span{
    color: red;
    background-color: black;
    font-family: helvetica;
    font-size: 2em;
    text-align: center;
}
